/* line 1, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/home.scss */
.home-input-wrapper {
  background-color: #171814;
  width: 90vw;
  padding: 5vh;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/*form starting stylings ------------------------------- */
/* line 3, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.group {
  position: relative;
  margin: 6vh 0vh;
}

/* line 7, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
input.author, input.reason {
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 2px solid #e2e2e2;
  background-color: #161713;
}

/* line 13, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.reason {
  width: 600px !important;
  margin-left: 15px;
}

/* line 18, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.author {
  margin: 0px 15px;
  width: 200px !important;
}

/* line 22, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.inner-editor {
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #e2e2e2;
  background-color: #161713;
}

/* line 30, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
input:focus {
  outline: none;
}

/* line 33, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.inner-editor:focus {
  outline: none;
}

/* line 36, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.hide {
  display: none;
}

/* line 39, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.btn {
  margin-right: 1em;
  /* remove this while use*/
  margin-bottom: 1em;
  /* remove this while use*/
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
  background-color: inherit;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.01);
  font-weight: 800;
  font-size: 1.4em;
  margin-top: 4vh;
  line-height: 2em;
  color: inherit;
  padding: 10px 20px;
}
/* line 61, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/input.scss */
.btn:hover {
  background-color: #CBD50D;
  border: 1px solid #CBD50D;
  transition: all 0.5s ease;
}
/* line 1, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

/* line 8, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
#content {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #171814;
  color: #E6E6E6;
}

/* line 17, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 8vh;
  width: 100%;
  padding: 1vh;
  background: #272822;
}

/* line 26, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
.social_icon {
  height: 6vh;
}

/* line 29, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
svg {
  fill: white;
}
/* line 31, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
svg:hover {
  color: #E6E6E6;
}

/* line 35, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
.icon_container {
  float: right;
  margin-right: 0,5vw;
}

/* line 39, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/static.scss */
.icons_container_wrapper {
  width: 95%;
  height: auto;
  margin: 0 auto;
}
/* line 2, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
body {
  font-family: 'Open Sans', Arial, serif;
  font-size: 1em;
  line-height: 1em;
}

/* line 7, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
h1 {
  font-weight: 800;
  font-size: 6vh;
  line-height: 1.5em;
}
/* line 11, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
h1 a {
  text-decoration: underline;
}

/* line 15, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
h2 {
  font-weight: 800;
  font-size: 6vh;
  text-transform: uppercase;
}
/* line 19, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
h2 a {
  text-decoration: underline;
}

/* line 24, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
h3 {
  font-weight: 800;
  font-size: 3vh;
}

/* line 29, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
p {
  font-family: 'Cutive Mono', Arial, serif;
  font-size: 2vh;
}
/* line 32, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
p a {
  text-decoration: underline;
}
/* line 35, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
p a:hover {
  color: #E6E6E6;
}
/* line 38, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
p a:visited {
  color: #E6E6E6;
}

/* line 43, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
::selection {
  color: #161713 !important;
  background-color: #FFFFFF;
}

/* line 47, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
input {
  font-family: 'Cutive Mono', Arial, serif;
  font-size: 2vh;
  color: #E6E6E6;
}

/* line 52, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 1.2vh;
}

/* line 56, /Users/pedropedro/Documents/Universidad/Actual/COM625/app/alamierda/app/assets/stylesheets/type.scss */
label {
  font-family: 'Open Sans', Arial, serif;
  font-size: 2vh;
  font-weight: 300;
  text-transform: uppercase;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

