.content_wrapper
	.row.body_random_show
		.col.trending_shits
			%ul.verticalLine
				%li
					&#35;cacerolazo
				%li
					&#35;Mariano					
				%li
					&#35;EstaComoPara
				%li
					&#35;EnLaMira
				%li
					&#35;ErikaSilvaMV
				%li
					&#35;ChileTeQuieroVer
		.col.content_shits
			.row.navigation_shits
				.col#col_icons
					.icons_container_wrapper
						.icon_container
							= image_tag asset_path("icon-01.svg"), class: "social_icon"
						.icon_container
							= image_tag asset_path("icon-03.svg"), class: "social_icon"
						.icon_container
							= image_tag asset_path("icon-05.svg"), class: "social_icon"
						.icon_container
							#pie_to_be			
			.row.translation
				.col.c90
					%p.random_show
						Que se vaya a la mierda
						%span#quien.high
						porque
						%span#porque
						&#46;
				.col.c10
					%h2.load
						&gt;
			