.content_wrapper
	.row.header_random_show
	.row.body_random_show
		.col.trending_shits
		.col.content_shits
			.translation
				%p.random_show
					Que se vaya a la mierda
					%span#quien.high
					porque
					%span#porque
					&#46;
				%p
					 
				%span
					#pie_to_be
					%span
						%h2.load
							Siguiente 
