/* form starting stylings ------------------------------- */
.group            { 
  position:relative; 
  margin-bottom:45px; 
}
input               {
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:2px solid #e2e2e2;
  background-color: #161713;
}
input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:14px;
}

@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}