/*form starting stylings ------------------------------- */
.group{ 
  position:relative; 
  margin:6vh 0vh; 
}
input.author, input.reason{
  padding:10px 10px 10px 5px;
  border:none;
  border-bottom:2px solid #e2e2e2;
  background-color: #161713;
}
.reason{
  width: 600px!important;
  margin-left: 15px;
}

.author{
  margin: 0px 15px;
  width: 200px!important;
}
.inner-editor{
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:2px solid #e2e2e2;
  background-color: #161713;
}
input:focus{
  outline:none;
}
.inner-editor:focus{
  outline:none;
}
.hide{
  display: none;
}
.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
  display: inline-block;
  outline: none;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
  background-color: inherit;
  box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  font-weight: 800;
  font-size: 1.4em;
  margin-top: 4vh;
  line-height: 2em;
  color:inherit;
  padding:10px 20px;
  &:hover{
    background-color:#CBD50D;
    border: 1px solid #CBD50D;

    transition: all 0.5s ease;
  }
}