div#pie_to_be {
	width: 5vh;
	height: 5vh;
	margin: 15px;
}
.navigation_shits{
	height: 5vh!important;
	width: 100%;
}
.translation{
	height: 50vh!important;
}
#col_icons{
	width:80%;
	float:left;
	margin-bottom: 5vh;
}
#col_time{
	width:20%;
	float:left;
}