div#pie_to_be {
	width: 70%;
	height: 70%;
	padding-top: 10px;
	margin-right: 10px;
}
.navigation_shits{
	height: 5vh!important;
	width: 100%;
}
.translation{
	height: 50vh!important;
	padding: 2vh;
}
#col_icons{
	width:80%;
	float:left;
	margin-bottom: 5vh;
}
#col_time{
	width:20%;
	float:left;
}