html {
   background: url(http://subtlepatterns.com/patterns/dark_dotted.png) repeat #222;
}
body{
	height: 100vh;
	width: 100vw;
	overflow: hidden;
   padding: 0px;
   margin: 0px;
}
div{
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
}
h2.load{
   color: #C4CF10;
   font-size: 3vh;
}
#content{
   position: fixed;
   left:0px;
   top:0px;
   height: 100%;
   width: 100%;
   background-color: #171814;
   color: #E6E6E6;
}
.content_wrapper{
   height: 86vh;
   width: 96vw;
   margin: 2vh auto;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:8vh;
   width:100%;
   padding:1vh;
   background:#272822;
   padding:10px 50px;
}
.footer_content{
   width:90%;
   height: 95%;
   margin: 0 auto
}
.social_icon{
   height: 100%;
}
.icon_container{
   float:right;
   height: 100%;
   margin-right:0,5vw;
}
.icons_container_wrapper{
   float:right;
   width: 40%;
   height: 100%;
   margin:0 auto;
}
.logo_container_wrapper{
   float:left;
   width: 40%;
   height: 100%;
}
#logo_alm{
   height: 100%;
}
.row{
   width:100%;
   height: auto;
}
.col{
   height: 100%;
   width:auto;
   float: left;
}
.c10{
   width: 10%;
}
.c90{
   width: 90%;
}
.header_random_show{
   height: 20%;
}
.body_random_show{
   height: 70vh;
   margin-top: 20vh
}
.trending_shits{
   float:left;
   width:30%;
}
.content_shits{
   padding: 20px;
   float:left;
   width:70%;
}
.verticalLine {
    border-right: 2px solid #CBD330;
}