#footer
  .footer_content
    .logo_container_wrapper
      = image_tag "logos_alm.svg", id: "logo_alm"
    .icons_container_wrapper
      .icon_container
        = image_tag "icon-01.svg", class: "social_icon"
      .icon_container
        = image_tag "icon-03.svg", class: "social_icon"
      .icon_container
        = image_tag "icon-05.svg", class: "social_icon"