#footer
  .footer_content
    .logo_container_wrapper
      = image_tag asset_path("logos_alm.svg"), id: "logo_alm"
    .icons_container_wrapper
      .icon_container
        = image_tag asset_path("icon-01.svg"), class: "social_icon"
      .icon_container
        = image_tag asset_path("icon-03.svg"), class: "social_icon"
      .icon_container
        = image_tag asset_path("icon-05.svg"), class: "social_icon"